body {
  font: 15px arial, sans-serif white;
  font-size:1vw;
  color: black;
}

.background-image {
    position: fixed;
    left: 0;
    top: 0;
    background-image: url( 'bgimage6.jpg' );
    width: 100%;
    height: auto;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
      background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.content{
	position:relative;
	z-index:2;
	color: black;
}

div.myimage{
	text-align: center;
}

p{
	text-align: center;
}

h3.thick {
  font-weight: 800;
  font-style: italic;
}

div.shadow {
	border-radius: 15px;
  box-shadow: 2px 2px 1px grey;
    width: 500px;
  margin-left: auto;
margin-right: auto;
text-align: center
}

div.shadow1 {
	border-radius: 15px;
  box-shadow: 2px 2px 1px grey;
  display: inline-grid;
  width: 920px;
  height: 250px;
  padding: 10px;
  margin-left: auto;
margin-right: auto;
}

p.border{
	border: 2px solid blue;
}

span.style{
	color: red;
}

table.zebra{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th, td{
	text-align: left;
	padding: 16px;
}

tr.zebra:nth-child(even){
	background-color: grey;
}

a:hover{
	background-color: #ff0000;
}
